.header {
  display: flex;
  flex-direction: column;

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .cartImgWrapper {
      position: relative;

      .cartImg {
        cursor: pointer;
      }

      .cartImgCounter {
        position: absolute;
        top: 32px;
        right: -5px;
        color: white;
        background-color: black;
        padding: 2px 5px;
        font-weight: 700;
        font-size: 20px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 0.07em;
      }

      .popup {
        position: absolute;
        top: 80px;
        right: 0;
        display: flex;
        flex-direction: column;
        z-index: 1;
        background-color: white;
        border: 4px solid #e4e4e4;
        box-sizing: border-box;
        padding: 22px 24px 22px 27px;

        .closeIcon {
          align-self: flex-end;
          margin-bottom: 9px;
        }

        .itemWrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .itemImg {
            z-index: 2;
            padding-right: 30px;
          }

          .itemContent {
            display: flex;
            flex-direction: column;
            align-items: center;

            .itemName {
              font-weight: 700;
              font-size: 20px;
              line-height: 22px;
              color: #000000;
              margin-bottom: 9px;
            }
            .itemPrice {
              font-size: 29px;
              line-height: 32px;
              color: #656565;
            }
          }
        }

        .divider {
          width: 100%;
          height: 2px;
          background-color: #c2c2c2;
          margin: 24px 0;
        }

        .popupBtn {
          width: 392px;
          height: 55px;
          background: #ffffff;
          border: 3px solid #000000;
          font-weight: 500;
          font-size: 23px;
          line-height: 25px;
          text-align: center;
          letter-spacing: 0.07em;
          color: #000000;
        }
      }
    }
  }

  .divider {
    width: 100%;
    height: 4px;
    background-color: #e4e4e4;
    margin-top: 36px;
  }
}

.main {
  margin-top: 62px;

  // first section

  .hero {
    display: flex;
    flex-direction: column;

    .cart {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 27px;

      .title {
        font-weight: 700;
        font-size: 32px;
        line-height: 35px;
      }

      .cartBtn {
        font-weight: 500;
        font-size: 23px;
        line-height: 25px;
        letter-spacing: 0.07em;
        color: white;
        background-color: black;
        width: 257px;
        height: 47px;
        text-align: center;
        cursor: pointer;
      }
    }

    .featured {
      position: relative;
      margin-bottom: 67px;

      .featuredImg {
        width: 100%;
      }

      .featuredBtn {
        position: absolute;
        top: 0;
        border: none;
        width: 271.95px;
        height: 67px;
        background-color: white;
        color: black;
        font-weight: 700;
        font-size: 20px;
        line-height: 22px;
        cursor: pointer;
      }
    }

    .about {
      display: flex;

      .aboutDetails {
        width: 100%;
        display: flex;
        flex-direction: column;

        .detailsTitle {
          font-weight: 700;
          font-size: 22px;
          line-height: 24px;
          color: #000000;
          margin-bottom: 24px;
        }

        .detailsImgs {
          margin-bottom: 26px;
          .galleryThree {
            margin-left: 30px;
            margin-right: 35px;
          }
        }

        .detailsContent {
          .contentTitle {
            font-weight: 700;
            font-size: 22px;
            line-height: 24px;
            color: #000000;
            margin-bottom: 10px;
          }

          .contentDescription {
            font-size: 16px;
            line-height: 25px;
            color: #656565;
          }
        }
      }

      .aboutContent {
        display: flex;
        flex-direction: column;
        margin-top: 12px;
        width: 100%;

        .aboutTitle {
          font-size: 22px;
          line-height: 24px;
          color: #000000;
          font-weight: 700;
          margin-bottom: 12px;
        }

        .aboutSubtitle {
          font-size: 22px;
          line-height: 24px;
          color: #656565;
          margin-bottom: 15px;
        }

        .aboutParagraph {
          font-size: 18px;
          line-height: 150%;
          color: #656565;
        }
      }
    }
    .divider {
      width: 100%;
      height: 4px;
      background-color: #e4e4e4;
      margin-top: 75px;
    }
  }

  // second section

  .gallery {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;

    // Header

    .galleryHeader {
      display: flex;
      justify-content: space-between;
      margin-bottom: 75px;

      .galleryTitle {
        display: flex;
        margin-top: 48px;

        .galleryTitleType {
          font-weight: 700;
          font-size: 30px;
          line-height: 33px;
          color: black;
        }

        .gallerySelection {
          font-size: 30px;
          line-height: 33px;
          color: #9b9b9b;
        }
      }

      .gallerySort {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-top: 70px;

        .gallerySortBy {
          font-size: 22px;
          line-height: 24px;
          color: #9b9b9b;
          padding-left: 7px;
          padding-right: 15px;
        }

        .galleryPrice {
          font-size: 22px;
          line-height: 24px;
          color: black;
        }
      }
    }

    .galleryContent {
      display: flex;
      justify-content: space-between;

      // Filters

      .galleryFilters {
        display: flex;
        flex-direction: column;

        .materialFiltersTitle,
        .priceFiltersTitle {
          font-size: 22px;
          line-height: 24px;
          font-weight: 700;
          color: black;
          margin-bottom: 23px;
        }

        .materialFilters,
        .priceFilters {
          display: flex;
          flex-direction: column;
          font-size: 22px;
          line-height: 24px;
          color: #1d1d1d;

          .itemFiltersItems {
            display: flex;
            align-items: center;
            margin: 20px 0;

            .itemLabel {
              font-weight: 400;
              font-size: 22px;
              line-height: 24px;
              margin-left: 23px;
            }
          }
        }

        .divider {
          width: 100%;
          height: 4px;
          background-color: #e4e4e4;
          margin-top: 31px;
          margin-bottom: 40px;
        }
      }

      // Gallery ShowCase

      .galleryShowcase {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 48.3px;
        row-gap: 57px;

        .galleryShowcaseImage {
          position: relative;

          .galleryShowcaseBestSeller {
            position: absolute;
            top: 0;
            background-color: white;
            font-weight: 400;
            font-size: 20px;
            line-height: 22px;
            padding: 7px 7px 3px 20px;
          }

          .galleryShowcaseAddCart {
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: black;
            color: white;
            font-weight: 500;
            font-size: 23px;
            line-height: 25px;
            text-align: center;
            letter-spacing: 0.07em;
            cursor: pointer;

            .galleryShowcaseAddCartTitle {
              padding: 10px 32px 15px 32px;
            }
          }
        }

        .galleryShowcaseTitle {
          font-weight: 700;
          font-size: 22px;
          line-height: 24px;
          color: #656565;
          padding: 8px 0;
        }

        .galleryShowcaseSubtitle {
          font-weight: 700;
          font-size: 34px;
          line-height: 37px;
          color: black;
          padding-bottom: 9px;
        }

        .galleryShowcasePrice {
          font-size: 29px;
          line-height: 32px;
          color: #656565;
        }
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  .pageArrowRight {
    cursor: pointer;
    margin-left: 7.5px;
  }

  .pageArrowLeft {
    cursor: pointer;
    margin-right: 7.5px;
  }

  .activePageNumber {
    font-weight: 700;
    font-size: 29px;
    line-height: 32px;
    cursor: pointer;
    margin: 0 7.5px;
  }

  .pageNumber {
    cursor: pointer;
    font-size: 29px;
    line-height: 32px;
    color: #b4b4b4;
    margin: 0 7.5px;
  }
}
